.sidebar {
  @apply flex flex-col gap-5;
}

.sidebarNav{
  @apply flex flex-col items-start gap-3 border-b-[1px] border-b-zinc-800 pb-4 mr-4 ml-4;
}

.sidebarItem {
  @apply flex w-full items-center gap-4 text-zinc-100 font-semibold cursor-pointer p-2;
}

.sidebarItem > span {
  @apply flex justify-center items-center size-10 text-blue-600;
}

#showMore > span {
  @apply text-zinc-100 bg-zinc-800 rounded-full;
}

.burgerMenuLayout {
  display: none;
}

.open {
  display: flex !important;
}

.sidebarItem:hover {
  @apply bg-zinc-600 rounded-lg;
}

.sidebarItem:first-child:hover {
  opacity: .8;
}

#showMore:hover > span {
  @apply bg-zinc-600;
}

@media (max-width: 1100px) {
  .burgerMenuLayout {
    @apply flex items-center justify-center size-10 bg-blue-600 mb-4 cursor-pointer;
  }

  #burgerMenu {
    @apply text-blue-100 cursor-pointer;
  }

  .sidebarNav {
    display: none;
  }
}

.sidebarLinks {
  @apply text-zinc-500;
}

.sidebarLinks > ul {
  @apply flex flex-wrap justify-start;
}

.sidebarLinksItem {
  @apply text-sm cursor-pointer hover:underline flex items-center gap-2;
}

.sidebarLinksItem::after {
  content: '';
  @apply block size-1 bg-zinc-500 rounded-full;
}

