.AppHeader {
  position: relative;
  @apply flex items-center h-14 bg-zinc-800 border-b-2 border-b-zinc-700 pr-8;
}

.AppHeader img {
  max-height: 90px;
  max-width: 90px;
}

input {
  background: transparent;
  color: whitesmoke !important;
  border: none !important;
  outline: none !important;
}

.searchBar {
  @apply flex items-center gap-2 bg-zinc-700 rounded-3xl h-10 pl-3 pr-3;
}

ul {
  @apply flex items-center gap-2 justify-center;
}

nav {
  @apply ml-8 mr-8;
}

header span {
  @apply text-zinc-400 cursor-pointer;
}

.psItem span {
  font-size: 22px;
  @apply text-zinc-100;
}

.psItem {
  border-radius: 100%;
  @apply bg-zinc-700 flex items-center justify-center size-9 cursor-pointer;
}

.psItem:hover {
  @apply bg-zinc-600;
}

.psItem:last-child img {
  @apply block size-10 rounded-full;
  object-fit: cover;
}
.psItem:last-child  {
  @apply p-0;
}

.profileSection {
  flex-grow: 1;
}

.profileSection ul {
  justify-content: flex-end;
}

