* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  @apply bg-zinc-900;
  min-height: 100vh;
}

.profileImgLayout {
  width: 2.5rem;
}

.profileImg {
  @apply block size-10 rounded-full;
  object-fit: cover;
}

.material-symbols-outlined {
  user-select: none;
}

